body {
    background-color: papayawhip;
}

.container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100vh; /* Full height viewport for example */
}
.pilt1 {
    width: 400px;
    height: auto;
}




p {
    font-family: Monserrat;
}