@font-face {font-family: Montserrat-1; src: url(font/Montserrat-VariableFont_wght.ttf); }


body {
    background-color: papayawhip;
}


.piltSid {
    display: block; /* Makes the image behave like a block-level element */
    margin: 0 auto; /* Horizontally centers the block */
    width: 400px;
    height: auto;
}




p {
    font-family: Montserrat-1;
}

ul {
    font-family: Montserrat-1;
}