@font-face { font-family: Super_kinds; src: url(../font/Super\ Kinds.ttf); } 
h1{font-family: Super_kinds;
    font-size: 60px;
    text-align: center;
    background-color: #FF9FB2;
    padding:15px;
    color:#ffeecf;
    -webkit-text-stroke: 2.5px #f85797; 
    -webkit-text-fill-color: #ffeecf;
    top: 0; 
    margin: 0; 
    width: 100%;
    position: fixed;

}

body{
    background-color: #ffeecf;
    margin: 0; 
    padding: 0;
}

#image-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100vw;
    
}

#image-links img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #98B9F2;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
    aspect-ratio: 1 / 1;
}

@font-face {font-family: Montserrat-1; src: url(../font/Montserrat-VariableFont_wght.ttf); }
p {
    text-align: center;
    font-family: Montserrat-1;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
}